<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Embed Gist</title>

  <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    body {padding: 1em;}
    .gist {border-bottom: thin solid #ccc; margin-bottom: 1.5em; padding-bottom: .5em;}
    #loading-bar {margin-top:5px;}
  </style>
</head>
<body>

  <header>
    <h1>Embed Gist</h1>
    <p class="lead">Start by searching for a GitHub username.</p>
  </header>

  <div id="main">

    <form class="form-search clearfix" id="username-search">
      <div class="input-append pull-left">
        <input type="text" id="username" value="christopher-b" class="input-medium search-query" />
        <input type="submit" class="btn" />
      </div>
      <div class="progress progress-striped active pull-left span2 hide" id="loading-bar">
        <div class="bar" style="width:100%;">Loading&hellip;</div>
      </div>
    </form>

    <div class="alert alert-error hide" id="error-alert">
      <a class="close" id="error-close" href="#">&times;</a>
      <span id="error-message">!</span>
    </div>

    <div id="placeholder"></div>

  </div>

  <footer></footer>

  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>

    var returnUrl = '<%= params['launch_presentation_return_url'] %>';

    $(function(){
      $('#error-close').click(function(){$('#error-alert').hide();});
      $('#username-search').submit(function(){
        var username = $('#username').val();
        var url = 'https://api.github.com/users/'+username+'/gists';
        reset();
        $('#loading-bar').show();
        $.ajax({
          dataType: "json",
          url: url,
          success: onSuccess,
          error: onError,
          /* statusCode: {
            404: function() {
              alert("page not found");
            }
          } */
        });
        return false;
      });
    });

    function onSuccess(data){
      var oembedUrl,
          oembedEndpoint,
          callbackUrl,
          username,
          description
          html = '';

      $('#loading-bar').hide();

      $.each(data, function(index, gist){
        description = gist.description || "(No description)";
        username    = gist.user.login;

        html += '<div class="gist">';
        html += "<p class='gist-description'><b>" + description + "</b></p>";

        $.each(gist.files, function(index, file){
          oembedUrl       = encodeURIComponent( 'https://gist.github.com/' + username + '/' + gist.id + '/raw/' + file.filename);
          oembedEndpoint  = encodeURIComponent( '<%= context_url + 'embed' %>' );
          callbackUrl     = returnUrl + '?return_type=oembed&endpoint=' + oembedEndpoint + '&url=' + oembedUrl;

          html += '<p><a href="' + callbackUrl + '" class="btn btn-mini btn-primary" title="Embed this file"><i class="icon-share icon-white"></i> Embed</a> ' + file.filename;
          if(file.language){
            html += ' (' + file.language + ')';
          }
          html += '</p>';
        });
        html += '</div>';
      });
      $('#placeholder').html(html);
    }

    function onError(jqXHR, textStatus, errorThrown){
      // console.log(jqXHR, textStatus, errorThrown);
      $('#loading-bar').hide();
      switch(jqXHR.status){
        case 404:
        $('#error-alert').show();
          $('#error-message').html('GitHub user not found.');
          break;
      }
    }

    function reset(){
      $('#placeholder').html('');
      $('#error-alert').hide();
    }

    function filenameSlug(filename){
      var pattern = /[\._\s]/g;
      return filename.toLowerCase().replace(pattern, "-");
    }
  </script>

</body>
</html>